<h1>Compras</h1>

<table>
    <thead>
        <th>Comprador</th>
        <th>Descrição</th>
        <th>Preço Unitário</th>
        <th>Quantidade</th>
        <th>Endereço</th>
        <th>Fornecedor</th>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>