<p id="notice"><%= notice %></p>

<h1>Compradores</h1>

<table class="table table-striped">
    <thead>
        <tr>
          <th>Nome</th>
        </tr>
    </thead>
    <tbody>
      <% @buyers.each do |buyer| %>
        <tr>
          <td><%= buyer.name %></td>
        </tr>
      <% end %>
    </tbody>
</table>
